{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">About us</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

            </nav>
          </div>

        </div>
      </div>
    </div>

  
  <!-- Page content -->

          <!-- Light table -->

          <!-- Card footer -->

    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <p style="font-size:35px">By 1911 Frost was fighting against discouragement. Poetry had always been
              considered a young person’s game, but Frost, who was nearly 40 years old, had
              not published a single book of poems and had seen just a handful appear in magazines.
              In 1911 ownership of the Derry farm passed to Frost. A momentous decision was made: to sell the farm and u
              se the proceeds to make a radical new start in London, where publishers were perceived to be
              more receptive to new talent. Accordingly, in August 1912 the Frost family sailed across the Atlantic to England. </p>
          </div>


          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
